ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  z-index: 2;
}

.input-group-text {
  border-color: transparent;
  background: transparent;
  margin-top: 2px;
  position: relative;
  border: transparent;
  width: 223px;
  left: 61px;
  font-size: 19px;
  font-weight: 200;
  z-index: 2;
}

#city-input {
  border-color: #88c5e8;
  background: transparent;
  border: 2px solid #fcde85;
  margin-top: 4px;
  position: relative;
  left: 100px;
  width: 320px;
  z-index: 2;
}

.btn-primary {
  border: 1px solid #fcde85;
  text-align: center;
  position: center;
  margin: auto;
  color: #545454;
  background: transparent;
  border-color: #569ee2;
  width: 5cm;
  z-index: 2;
}

.btn-secondary {
  border: 1px solid #fcde85;
  text-align: center;
  position: center;
  margin: auto;
  color: #545454;
  background: transparent;
  border-color: #569ee2;
  width: 5cm;
  z-index: 2;
}

#forecast {
  position: relative;
  color: #545454;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  right: 10px;
  text-align: center;
  top: 10px;
  z-index: 2;
  font-size: 15px;
  font-weight: normal;
}

#weather-icon {
  z-index: 2;
}

#city {
  font-size: 26px;
  font-weight: 210;
  z-index: 2;
}
#date {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  z-index: 2;
}

#humidity {
  font-size: 15px;
  z-index: 2;
}

#wind {
  font-size: 15px;
  z-index: 2;
}

#unit-number {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  z-index: 2;
}

#temperature {
  position: relative;
  top: -20px;
  margin-left: 100px;
  z-index: 2;
}

.units {
  position: relative;
  font-size: 18px;
  top: -25px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  z-index: 2;
}

.weather-app {
  padding: 110px;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  border: 8px solid #fcde85;
  margin-top: 87px;
  padding-bottom: 64px;
  padding-top: 67px;
  position: relative;
  z-index: 2;
}

.corner-sun {
  position: absolute;
  right: -95px;
  bottom: -205px;
  z-index: 1;
  width: 999px;
  transform: rotate(-15deg);
}

.left-corner-sun {
  position: absolute;
  left: 49px;
  top: 38px;
  z-index: 1;
  transform: rotate(150deg);
}

.forecast-icon {
  width: 129%;
}
