ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  margin-right: -83px;
}

.input-group-text {
  border-color: transparent;
  background: transparent;
  margin-top: 4px;
  position: relative;
  border: transparent;
  width: 210px;
  left: 120px;
  font-size: large;
}

#city-input {
  border-color: #88c5e8;
  background: transparent;
  border: 2px solid #fcde85;
  margin-top: 4px;
  position: relative;
  left: 100px;
  width: 320px;
}

.btn-primary {
  border: 1px solid #fcde85;
  text-align: center;
  position: center;
  margin: auto;
  color: #545454;
  background: transparent;
  border-color: #569ee2;
  width: 5cm;
}

.btn-secondary {
  border: 1px solid #fcde85;
  text-align: center;
  position: center;
  margin: auto;
  color: #545454;
  background: transparent;
  border-color: #569ee2;
  width: 5cm;
}

.col-2 {
  position: relative;
  color: #545454;
  font-family: Arial, Helvetica, sans-serif;
  right: 10px;
  text-align: center;
  margin: 0 auto;
  top: 30px;
}

#slnko {
  width: 200px;
  position: relative;
  bottom: 24%;
  left: 82%;
  text-align: center;
  margin: 0;
}

#city {
  left: 100px;
  left: -5px;
  font-size: px;
  font-weight: 200;
  margin-right: -83px;
  margin-top: 20px;
}
#date {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  margin-right: -83px;
}

#humidity {
  position: relative;
  left: 180px;
  font-size: 15px;
  bottom: 40px;
  left: 600px;
}

#wind {
  position: relative;
  left: 180px;
  position: relative;
  font-size: 15px;
  bottom: 25px;
  left: 549px;
}

#temperature {
  position: relative;
  font-size: 30px;
  right: 70px;
  top: 73px;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.units {
  position: relative;
  font-size: 18px;
  left: 60px;
  bottom: 15px;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.weather-app {
  padding: 110px;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  border: 3px solid #fcde85;
  margin-top: 100px;
  padding-bottom: 170px;
  position: relative;
}

.weather-icon {
  position: absolute;
  right: -75px;
  bottom: -75px;
}
